# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app

# Visual Studio trash
.vs/
d3d8/log
d3d8/obj
TheThing-Hacks/d3d8_RELEASE
TheThing-Hacks/Build
TheThing-Hacks/Debug

# Debug build
Debug/
dinput8/Debug
dinput8/Release

# Archives
*.zip
